/* LOGIN */
.button {
  background-color: #00472e;
  color: #fff; 
  border: none; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 7px; 
  transition: all 0.5s ease-in-out;
}
.button:hover{
  background-color: #018f5d;
 transition: all 0.5s ease-in-out;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #00472e
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  
  background-image: url(prot-tipo-do-site-tcc-1.png);
}
.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px
}

.areaLogin img {
  width: 420px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}
.selecionar{
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}	
.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}


.formLogin input:focus {
  border: 1px solid #006440;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #fff;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #006440;
}

.btn {
  background-color: #006440;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  width: 80px;
  height: 20px;
  text-align: center;
 

}

.btn:hover {
  transform: scale(1.05);
  background-color:#006440;

}

/* cards tela de resposta - responsivo*/

/*seção-4 style*/
h1{
  color: #00472e;
  text-align: center;
}
body{
  margin: 0px;
  font-family: helvetica;
  background-image: url(prot-tipo-do-site-tcc-1.png);
}
.secao4{
  height: auto;
  width: 100%;
}
.secao4-div{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  margin: auto;
  align-items: stretch;
  padding: 10px;
  text-align: center;
}
.secao4-div h3{
  padding: 10px 0px 0px 0px !important;
}

.secao4-div-1{
  display: flex;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: rgb(219, 41, 41);
  transition: all .5s ease;
  z-index: 0;
  justify-content: center;
}
.secao4-div-2 {
  display: flex;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: rgb(221, 211, 65);
  transition: all .5s ease;
  z-index: 0;
  justify-content: center;
}
.secao4-div-3{
display: flex;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: rgb(41, 177, 71);
  transition: all .5s ease;
  z-index: 0;
  justify-content: center;
}

.secao4-div-1:hover, .secao4-div-2:hover, .secao4-div-3:hover{
  transform: scale(1.1);
  z-index: 1;
}
/*mobile*/
@media (max-width: 768px) {
  .secao4-div-1, .secao4-div-2, .secao4-div-3{
      width: 100%;
  }
}
