.map-responsive {

    overflow: hidden;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 200px;

    top: 100px;

    height: 400px;

    width: 600px;

    position: absolute;

    align-content: center;
}

.desktop-1{
    background-color: #499F80;
}